/* .dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #000;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .menu-icon:hover + .dropdown-menu,
  .dropdown-menu:hover {
    display: block;
  }
   */